apiVersion: v1
kind: Service
metadata:
  name: demo-service
  namespace: dev
spec:
  type: NodePort
  selector:
    app: demo
  ports:
  - port: 80
    targetPort: 80 #container port (nginx)
    nodePort: 30022 #external access port
